Source: fluentui
Section: devel
Priority: optional
Maintainer: LingmoOS <lingmo@lingmo.org>
Build-Depends: cmake,
               debhelper (>= 9),
               extra-cmake-modules,
               libqt5x11extras5-dev
               qtbase5-dev,
               qtdeclarative5-dev,
               qtquickcontrols2-5-dev,
               qttools5-dev,
               qttools5-dev-tools
Standards-Version: 4.5.0
Homepage: https://lingmo.org

Package: fluentui
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: LingmoOS Library
